@model Autoveille.Models.FicheClient


<h4>FicheClient</h4>
<hr />
<text class="labell">
    @Html.DisplayNameFor(model => model.NomClient) :
</text>
<text>
    @Html.DisplayFor(model => model.NomClient)
</text>
<br />


<text class="labell">
    @Html.DisplayNameFor(model => model.Langue) :
</text>
<text>
    @Html.DisplayFor(model => model.Langue)
</text>
<br />


<text class="labell">
    @Html.DisplayNameFor(model => model.Courriel) :
</text>
<text>
    @Html.DisplayFor(model => model.Courriel)
</text>
<br />


<text class="labell">
    @Html.DisplayNameFor(model => model.Ville) :
</text>
<text>
    @Html.DisplayFor(model => model.Ville)
</text>
<br />


<text class="labell">
    @Html.DisplayNameFor(model => model.NoClient) :
</text>
<text>
    @Html.DisplayFor(model => model.NoClient)
</text>
<br />


<text class="labell">
    @Html.DisplayNameFor(model => model.Niv) :
</text>
<text>
    @Html.DisplayFor(model => model.Niv)
</text>
<br />


<text class="labell">
    @Html.DisplayNameFor(model => model.TypeAchat) :
</text>
<text>
    @Html.DisplayFor(model => model.TypeAchat)
</text>
<br />


<text class="labell">
    @Html.DisplayNameFor(model => model.DateAchat) :
</text>
<text>
    @Html.DisplayFor(model => model.DateAchat)
</text>
<br />


<text class="labell">
    @Html.DisplayNameFor(model => model.Terme) :
</text>
<text>
    @Html.DisplayFor(model => model.Terme)
</text>

<br />

<text class="labell">
    @Html.DisplayNameFor(model => model.VehiculeDesire) :
</text>
<text>
    @Html.DisplayFor(model => model.VehiculeDesire)
</text>
<br />

<text class="labell">
    @Html.DisplayNameFor(model => model.ValeurVehicule) :
</text>
<text>
    @Html.DisplayFor(model => model.ValeurVehicule)
</text>
<br />


<text class="labell">
    @Html.DisplayNameFor(model => model.NoteAppelsPrecedents) :
</text>
<text>
    @Html.DisplayFor(model => model.NoteAppelsPrecedents)
</text>

<br />

